.breadcrumbsContainer {
  display: flex;
  flex-flow: row;
  margin-top: 5%;
  width: 13%;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.breadcrumbsContainer .link {
  text-decoration: none;
  color: #000000;
}
