.breadcrumbsContainer {
  display: flex;
  flex-flow: row;
  margin: 2% 0 1% 8%;
  justify-content: flex-start;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.breadcrumbsContainer .link {
  text-decoration: none;
  color: #000000;
}
.breadcrumbsContainer img {
  margin: 0 8% 0 5%;
}
