.contentProductSmall {
  width: 250px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  border-radius: 10px;
  cursor: pointer;
  
}
.contentProductSmall:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.contentProductSmall img {
  max-width: 100%;
}

.contentProductSmall h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #202020;
  margin: 3% 0 5% 0;
}

.saleProductSmall {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 68%;
}
.saleProductSmall .promo {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #424242;
}
.saleProductSmall .price,
.contentProductSmall .price {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #569ccd;
}
