.descriptionProductContainer {
  display: flex;
  flex-flow: column;
  width: 40%;
}
.descriptionProductContainer h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #569ccd;
}

.descriptionProductContainer p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #616161;
  margin-top: 4%;
}
