.contentProductLarger {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  border-radius: 10px;
  cursor: pointer;
}
.contentProductLarger:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.contentProductLarger img {
  max-width: 100%;
}

.contentProductLarger h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #202020;
  margin: 3% 0 5% 0;
}

.sale {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 50%;
}
.promo {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #424242;
}
.price {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #569ccd;
}
