.drawComponent {
  width: 473px;
  height: 232px;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-family: Poppins;
}
.textContent {
  display: flex;
  flex-flow: column;
}

.textContent h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 120%;
  color: #83bde6;
}

.textContent p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #83bde6;
  margin-top: 10%;
}
