footer {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.footerRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #fff;
}
.footerColumn {
  display: flex;
  flex-flow: column;
}
.footerColumn h2 {
  font-style: normal;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 120%;
  color: #83bde6;
  margin-bottom: 10%;
}
.footerColumn ul li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #4e4e4e;
  margin-top: 10%;
}

.columnContent {
  display: flex;
  flex-flow: column;
}
.columnContent h2:nth-last-child(2) {
  margin-top: 15%;
}
.columnContent ul li {
  margin-top: 0;
}

.instagram {
  color: #83bde6;
  width: 25px;
  height: 25px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #797979;
  margin-top: 5%;
  margin-bottom: 2%;
}
.credits {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.credits p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: #797979;
  margin-bottom: 5%;
}
