.firstContentProduct,
.secondContentProduct {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 102%;

  margin-bottom: 8%;
}
.secondContentProduct {
  width: 102%;
}
.thirdContentProduct {
  width: 102%;
}
.moreProductSeller {
  display: flex;
  flex-flow: column;
  width: 102%;

  margin-bottom: 8%;
}
.moreProductSeller h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 45px;
  color: #569ccd;
  margin: 5%2%;
}
.itemsProductSeller {
  display: flex;
  flex-flow: row;
  width: 75%;
  justify-content: space-around;
}
