.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 70px;
  padding: 10px 5px 10px 5px;
}

.Logo svg {
  fill: #569ccd;
  transition: 0.5s;
}

.Logo svg:hover {
  opacity: 90%;
  transition: 0.5s;
  cursor: pointer;
}

.Categorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.Categorias p {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 600;
  color: #202020;
}

.Categorias svg {
  padding: 5px;
}

.Pesquisa {
  margin: 0 15px 0 15px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border: 0px solid;
  padding: 0 15px 0 15px;
  border-radius: 6px;
  max-width: 441px;
  width: 100%;
}

.Pesquisa input {
  border: none;
  background-color: #f0f0f0;
  height: 47px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.Pesquisa input::placeholder {
  color: #949494;
  transition: 0.3s;
}

.Pesquisa input:focus::placeholder {
  opacity: 60%;
  transition: 0.3s;
}

.Pesquisa svg {
  fill: #ccc;
  transform: rotate(-7deg);
  stroke: #ccc;
  stroke-width: 1px;
  width: 40px;
}

.Pesquisa svg:hover {
  opacity: 90%;
  cursor: pointer;
}

#cta-vender {
  margin: 0 15px 0 5px;
  background: #be5599;
  color: #fff;
  font-weight: 500;
  border-radius: 31px;
  border: none;
  padding: 5px 40px 5px 40px;
  transition: 0.3s;
}

#cta-vender:hover {
  opacity: 94%;
  cursor: pointer;
  transition: 0.3s;
}

#cta-vender:focus {
  outline-color: none;
  outline: none;
}

.Usuario {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.Usuario img {
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.Usuario p {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 600;
  color: #202020;
}

.Sacola {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.Sacola svg {
  fill: #202020;
  width: 25px;
  stroke: #202020;
  stroke-width: 1.8px;
}
